<p class="NewUsers-title">Welcome Back</p>
<section class="UsersNew">
<%= form_with url: sessions_path do |form|%>
  <div class="Form-section">
    <p class="FormInput-label">Email: </p>
    <%= form.email_field :email, class: "Form-input" ,autofocus: "autofocus"%>
  </div>
  <div class="Form-section">
    <p class="FormInput-label">Password: </p>
    <%= form.password_field :password, class: "Form-input" %>
  </div>
  <div class="Form-section">
    <%= form.submit "Sign-In!", class: "Form-submit"%>
  </div>
<% end %>
</section>
<h3 class="change">If you dont have an account <%= link_to "Sign up", new_user_path %> here</h3>
