<section class=TodoSection>
        <div class="TodoSectionTitle">
          <p class="TodoSectionTitle-text"><%=todo_title%></p>
          <p class="TodoSectionTitle-RemainingCount">
          <%= todos.completed.count %>/<%= todos.count %></p>
        </div>
        <ul>
          <li class="TodoItem">
          <% todos.all.each do |todo| %>
            <label class="TodoItem-Container">
             <%= form_with(url: "/todos/#{todo.id}", method: "put") do %>
              <%=check_box_tag(
                        name= "completed",
                        value= "1",
                        checked = todo.completed,
                        options = { onclick: "this.form.submit()",
                        class: "TodoItem-Checkbox"})
                     %>
              <% end %>

          <p class="<%= todo.completed ? "Todo-Section-Strike" : ""%>">
              <%= todo.todo_text %></p>

              <% if show_due_date%>
          <p class="Date"> <%= todo.due_date.to_s(:short) %></p>
          <% end %>
              <a class="TodoItem-Delete" href="javascript:void(0)">
                <%= form_with(url: "/todos/#{todo.id}",method: "delete") do %>
                  <%= image_submit_tag( source="trash.png",
                                 class: "TodoItem-Trashbin",
                                 alt: "deleteicon")
                              %>
                <% end %>
              </a>
            </label>
          </li>
          <% end %>
        </ul>
      </section>
